<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/main-layout :: ~{}}">
<div th:fragment="contenido">
    <h1>Lista de Roles</h1>
    <a th:href="@{/roles/nuevo}" class="btn">Registrar Nuevo Rol</a>
    <table>
        <thead>
            <tr>
                <th>ID Rol</th>
                <th>Nombre del Rol</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="r : ${roles}">
                <td th:text="${r.idRol}">...</td>
                <td th:text="${r.nombreRol}">...</td>
            </tr>
        </tbody>
    </table>
</div>
</html>